<div class="show-event container">
    <div class="infos">
        <h1 class="event.title"><%=@event.title%></h1>
    </div>
    <div class="description">
        <p><%=@event.description%></p>
    </div>
</div>
<%unless user_signed_in?%>
    <div>
        <%= link_to "Sign up to Access event", new_user_registration_path %>
    </div>
<%end%>
<%unless  user_signed_in? && (is_admin || is_participating)%>
    <div>
        <a href="/event/<%=@event.id%>/orders/new">Buy Tickets</a>
    </div>
<%end%>
<%if  user_signed_in? && is_admin%>
    <div>
        <a href="/event/<%=@event.id%>/attendances">Invited People</a>
    </div>
<%end%>